<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

       <ul class="float-right nav nav-pills nav-social nav-second-main"  th:fragment="lan">

           <li class="dropdown active">
               <a href="/lan/zh_CN" class=" dropdown-toggle" data-toggle="dropdown">
                   中文
                   <b class="caret"></b>
               </a>
               <ul class="dropdown-menu dropdown-lang">
                   <li style="padding-left: 0px"><a href="/lan/zh_CN" style="color:#000;margin-left: 0px !important;">中文</a></li>
                   <li style="padding-left: 0px"><a href="/lan/en_US" style="color:#000;margin-left: 0px !important;">英文</a></li>
               </ul>
           </li>
       </ul>

</body>
</html>

