<html xmlns:th="http://www.thymeleaf.org"
>


<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
 <div class="ibox-title">
                    <h5>资金账户查看</h5>
                    <div class="ibox-tools">
                    <a class="collapse-link">
                            <i class="fa fa-chevron-up" data-toggle="tooltip" data-placement="auto"  data-original-title="折叠"></i>
                        </a>
    <a href="javascript:void(0)" class="toList" data-to-url="/otc/exFinance/view/list">
        <i class="fa fa-mail-reply" data-toggle="tooltip" data-placement="auto"  data-original-title="返回"></i></a>
</div>
</div>
<div class="ibox-content">
    <form method="post" class="form">

        <div id="exFinanceRender"></div>
        <script id="exFinanceTpl" type="text/x-jsrender">

            <div class="hr-line-dashed hidden"></div>
            <div class="form-group hidden"><label class="col-sm-2 control-label">id</label>
                <div class="col-sm-10"><input type="text" name="id" value="{{:id}}" class="form-control"></div>
            </div>


                            <div class="row">
                            <div class="col-sm-6">


            <div class="form-group"><label class=" control-label">用户id<span class="text-danger">*</span></label>
                <input type="text" name="userId"
                                              value="{{:userId}}"
                                              class="form-control "></div>

        </div>

                            <div class="col-sm-6">


            <div class="form-group"><label class=" control-label">用户名<span class="text-danger">*</span></label>
                <input type="text" name="userName"
                                              value="{{:userName}}"
                                              class="form-control "></div>

        </div>
                            </div>

                             <div class="hr-line-dashed"></div>
                            <div class="row">
                            <div class="col-sm-6">


            <div class="form-group"><label class=" control-label">币种<span class="text-danger">*</span></label>
                <input type="text" name="symbol"
                                              value="{{:symbol}}"
                                              class="form-control "></div>

        </div>

                            <div class="col-sm-6">


            <div class="form-group"><label class=" control-label">币地址</label>
                <input type="text" name="coinAddress"
                                              value="{{:coinAddress}}"
                                              class="form-control "></div>

        </div>
                            </div>

                             <div class="hr-line-dashed"></div>
                            <div class="row">
                            <div class="col-sm-6">


            <div class="form-group"><label class=" control-label">币地址标签</label>
                <input type="text" name="coinAddressTag"
                                              value="{{:coinAddressTag}}"
                                              class="form-control "></div>

        </div>

                            <div class="col-sm-6">


            <div class="form-group"><label class=" control-label">可用金额</label>
                <input type="text" name="available"
                                              value="{{:available}}"
                                              class="form-control "></div>

        </div>
                            </div>

                             <div class="hr-line-dashed"></div>
                            <div class="row">
                            <div class="col-sm-6">


            <div class="form-group"><label class=" control-label">冻结金额</label>
                <input type="text" name="freeze"
                                              value="{{:freeze}}"
                                              class="form-control "></div>

        </div>

                            <div class="col-sm-6">

                <div class="form-group"><label class=" control-label">状态 </label>
                    <select name="status"  class="form-control">
                            <option value="0" {{if status==0}}selected{{/if}}>正常</option>
                            <option value="1" {{if status==1}}selected{{/if}}>冻结</option>
                    </select>
                </div>
        </div>
                            </div>



        </script>
    </form>
</div>
</div>
</div>

</div>


</div>

<!--load js-->
<div th:replace="layout/common/basejs :: basejs(~{::script})">
    <script>
        seajs.use([DEV + "/main", "jquery_validate", "messages_zh",  DEV + "/page_otc_exFinance"], function (a, e, c,  b) {
            b.see();
        });
    </script>
</div>
<!--load js-->

</html>
