<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body >


    <select class="form-control select2"   th:name="${name}" id="chooseCurrency" th:fragment="currency(name,def)">
        <option value="">货币</option>
        <option value="AED" hl="/USD_in_CNY*USD_in_AED"


        >AED</option>

        <option value="AFN" hl="/USD_in_CNY*USD_in_AFN"


        >AFN</option>

        <option value="ALL" hl="/USD_in_CNY*USD_in_ALL"


        >ALL</option>

        <option value="AMD" hl="/USD_in_CNY*USD_in_AMD"


        >AMD</option>

        <option value="ANG" hl="/USD_in_CNY*USD_in_ANG"


        >ANG</option>

        <option value="AOA" hl="/USD_in_CNY*USD_in_AOA"


        >AOA</option>

        <option value="ARS" hl="/USD_in_CNY*USD_in_ARS"


        >ARS</option>

        <option value="AUD" hl="/USD_in_CNY*USD_in_AUD"


        >AUD</option>

        <option value="AWG" hl="/USD_in_CNY*USD_in_AWG"


        >AWG</option>

        <option value="AZN" hl="/USD_in_CNY*USD_in_AZN"


        >AZN</option>

        <option value="BAM" hl="/USD_in_CNY*USD_in_BAM"


        >BAM</option>

        <option value="BBD" hl="/USD_in_CNY*USD_in_BBD"


        >BBD</option>

        <option value="BDT" hl="/USD_in_CNY*USD_in_BDT"


        >BDT</option>

        <option value="BGN" hl="/USD_in_CNY*USD_in_BGN"


        >BGN</option>

        <option value="BHD" hl="/USD_in_CNY*USD_in_BHD"


        >BHD</option>

        <option value="BIF" hl="/USD_in_CNY*USD_in_BIF"


        >BIF</option>

        <option value="BMD" hl="/USD_in_CNY*USD_in_BMD"


        >BMD</option>

        <option value="BND" hl="/USD_in_CNY*USD_in_BND"


        >BND</option>

        <option value="BOB" hl="/USD_in_CNY*USD_in_BOB"


        >BOB</option>

        <option value="BRL" hl="/USD_in_CNY*USD_in_BRL"


        >BRL</option>

        <option value="BSD" hl="/USD_in_CNY*USD_in_BSD"


        >BSD</option>

        <option value="BTC" hl="/USD_in_CNY*USD_in_BTC"


        >BTC</option>

        <option value="ETH" hl="/USD_in_CNY*USD_in_ETH"


        >ETH</option>

        <option value="ETC" hl="/USD_in_CNY*USD_in_ETC"


        >ETC</option>

        <option value="LTC" hl="/USD_in_CNY*USD_in_LTC"


        >LTC</option>

        <option value="EOS" hl="/USD_in_CNY*USD_in_EOS"


        >EOS</option>

        <option value="BTS" hl="/USD_in_CNY*USD_in_BTS"


        >BTS</option>

        <option value="BTN" hl="/USD_in_CNY*USD_in_BTN"


        >BTN</option>

        <option value="BWP" hl="/USD_in_CNY*USD_in_BWP"


        >BWP</option>

        <option value="BYN" hl="/USD_in_CNY*USD_in_BYN"


        >BYN</option>

        <option value="BYR" hl="/USD_in_CNY*USD_in_BYR"


        >BYR</option>

        <option value="BZD" hl="/USD_in_CNY*USD_in_BZD"


        >BZD</option>

        <option value="CAD" hl="/USD_in_CNY*USD_in_CAD"


        >CAD</option>

        <option value="CDF" hl="/USD_in_CNY*USD_in_CDF"


        >CDF</option>

        <option value="CHF" hl="/USD_in_CNY*USD_in_CHF"


        >CHF</option>

        <option value="CLF" hl="/USD_in_CNY*USD_in_CLF"


        >CLF</option>

        <option value="CLP" hl="/USD_in_CNY*USD_in_CLP"


        >CLP</option>

        <option value="CNY" hl=""
                selected="true"

        >CNY</option>

        <option value="COP" hl="/USD_in_CNY*USD_in_COP"


        >COP</option>

        <option value="CRC" hl="/USD_in_CNY*USD_in_CRC"


        >CRC</option>

        <option value="CUC" hl="/USD_in_CNY*USD_in_CUC"


        >CUC</option>

        <option value="CUP" hl="/USD_in_CNY*USD_in_CUP"


        >CUP</option>

        <option value="CVE" hl="/USD_in_CNY*USD_in_CVE"


        >CVE</option>

        <option value="CZK" hl="/USD_in_CNY*USD_in_CZK"


        >CZK</option>

        <option value="DJF" hl="/USD_in_CNY*USD_in_DJF"


        >DJF</option>

        <option value="DKK" hl="/USD_in_CNY*USD_in_DKK"


        >DKK</option>

        <option value="DOP" hl="/USD_in_CNY*USD_in_DOP"


        >DOP</option>

        <option value="DZD" hl="/USD_in_CNY*USD_in_DZD"


        >DZD</option>

        <option value="EEK" hl="/USD_in_CNY*USD_in_EEK"


        >EEK</option>

        <option value="EGP" hl="/USD_in_CNY*USD_in_EGP"


        >EGP</option>

        <option value="ERN" hl="/USD_in_CNY*USD_in_ERN"


        >ERN</option>

        <option value="ETB" hl="/USD_in_CNY*USD_in_ETB"


        >ETB</option>

        <option value="EUR" hl="/USD_in_CNY*USD_in_EUR"


        >EUR</option>

        <option value="FJD" hl="/USD_in_CNY*USD_in_FJD"


        >FJD</option>

        <option value="FKP" hl="/USD_in_CNY*USD_in_FKP"


        >FKP</option>

        <option value="GBP" hl="/USD_in_CNY*USD_in_GBP"


        >GBP</option>

        <option value="GEL" hl="/USD_in_CNY*USD_in_GEL"


        >GEL</option>

        <option value="GGP" hl="/USD_in_CNY*USD_in_GGP"


        >GGP</option>

        <option value="GHS" hl="/USD_in_CNY*USD_in_GHS"


        >GHS</option>

        <option value="GIP" hl="/USD_in_CNY*USD_in_GIP"


        >GIP</option>

        <option value="GMD" hl="/USD_in_CNY*USD_in_GMD"


        >GMD</option>

        <option value="GNF" hl="/USD_in_CNY*USD_in_GNF"


        >GNF</option>

        <option value="GTQ" hl="/USD_in_CNY*USD_in_GTQ"


        >GTQ</option>

        <option value="GYD" hl="/USD_in_CNY*USD_in_GYD"


        >GYD</option>

        <option value="HKD" hl="/USD_in_CNY*USD_in_HKD"


        >HKD</option>

        <option value="HNL" hl="/USD_in_CNY*USD_in_HNL"


        >HNL</option>

        <option value="HRK" hl="/USD_in_CNY*USD_in_HRK"


        >HRK</option>

        <option value="HTG" hl="/USD_in_CNY*USD_in_HTG"


        >HTG</option>

        <option value="HUF" hl="/USD_in_CNY*USD_in_HUF"


        >HUF</option>

        <option value="IDR" hl="/USD_in_CNY*USD_in_IDR"


        >IDR</option>

        <option value="ILS" hl="/USD_in_CNY*USD_in_ILS"


        >ILS</option>

        <option value="IMP" hl="/USD_in_CNY*USD_in_IMP"


        >IMP</option>

        <option value="INR" hl="/USD_in_CNY*USD_in_INR"


        >INR</option>

        <option value="IQD" hl="/USD_in_CNY*USD_in_IQD"


        >IQD</option>

        <option value="IRR" hl="/USD_in_CNY*USD_in_IRR"


        >IRR</option>

        <option value="ISK" hl="/USD_in_CNY*USD_in_ISK"


        >ISK</option>

        <option value="JEP" hl="/USD_in_CNY*USD_in_JEP"


        >JEP</option>

        <option value="JMD" hl="/USD_in_CNY*USD_in_JMD"


        >JMD</option>

        <option value="JOD" hl="/USD_in_CNY*USD_in_JOD"


        >JOD</option>

        <option value="JPY" hl="/USD_in_CNY*USD_in_JPY"


        >JPY</option>

        <option value="KES" hl="/USD_in_CNY*USD_in_KES"


        >KES</option>

        <option value="KGS" hl="/USD_in_CNY*USD_in_KGS"


        >KGS</option>

        <option value="KHR" hl="/USD_in_CNY*USD_in_KHR"


        >KHR</option>

        <option value="KMF" hl="/USD_in_CNY*USD_in_KMF"


        >KMF</option>

        <option value="KPW" hl="/USD_in_CNY*USD_in_KPW"


        >KPW</option>

        <option value="KRW" hl="/USD_in_CNY*USD_in_KRW"


        >KRW</option>

        <option value="KWD" hl="/USD_in_CNY*USD_in_KWD"


        >KWD</option>

        <option value="KYD" hl="/USD_in_CNY*USD_in_KYD"


        >KYD</option>

        <option value="KZT" hl="/USD_in_CNY*USD_in_KZT"


        >KZT</option>

        <option value="LAK" hl="/USD_in_CNY*USD_in_LAK"


        >LAK</option>

        <option value="LBP" hl="/USD_in_CNY*USD_in_LBP"


        >LBP</option>

        <option value="LKR" hl="/USD_in_CNY*USD_in_LKR"


        >LKR</option>

        <option value="LRD" hl="/USD_in_CNY*USD_in_LRD"


        >LRD</option>

        <option value="LSL" hl="/USD_in_CNY*USD_in_LSL"


        >LSL</option>

        <option value="LTL" hl="/USD_in_CNY*USD_in_LTL"


        >LTL</option>

        <option value="LVL" hl="/USD_in_CNY*USD_in_LVL"


        >LVL</option>

        <option value="LYD" hl="/USD_in_CNY*USD_in_LYD"


        >LYD</option>

        <option value="MAD" hl="/USD_in_CNY*USD_in_MAD"


        >MAD</option>

        <option value="MDL" hl="/USD_in_CNY*USD_in_MDL"


        >MDL</option>

        <option value="MGA" hl="/USD_in_CNY*USD_in_MGA"


        >MGA</option>

        <option value="MKD" hl="/USD_in_CNY*USD_in_MKD"


        >MKD</option>

        <option value="MMK" hl="/USD_in_CNY*USD_in_MMK"


        >MMK</option>

        <option value="MNT" hl="/USD_in_CNY*USD_in_MNT"


        >MNT</option>

        <option value="MOP" hl="/USD_in_CNY*USD_in_MOP"


        >MOP</option>

        <option value="MRO" hl="/USD_in_CNY*USD_in_MRO"


        >MRO</option>

        <option value="MTL" hl="/USD_in_CNY*USD_in_MTL"


        >MTL</option>

        <option value="MUR" hl="/USD_in_CNY*USD_in_MUR"


        >MUR</option>

        <option value="MVR" hl="/USD_in_CNY*USD_in_MVR"


        >MVR</option>

        <option value="MWK" hl="/USD_in_CNY*USD_in_MWK"


        >MWK</option>

        <option value="MXN" hl="/USD_in_CNY*USD_in_MXN"


        >MXN</option>

        <option value="MYR" hl="/USD_in_CNY*USD_in_MYR"


        >MYR</option>

        <option value="MZN" hl="/USD_in_CNY*USD_in_MZN"


        >MZN</option>

        <option value="NAD" hl="/USD_in_CNY*USD_in_NAD"


        >NAD</option>

        <option value="NGN" hl="/USD_in_CNY*USD_in_NGN"


        >NGN</option>

        <option value="NIO" hl="/USD_in_CNY*USD_in_NIO"


        >NIO</option>

        <option value="NOK" hl="/USD_in_CNY*USD_in_NOK"


        >NOK</option>

        <option value="NPR" hl="/USD_in_CNY*USD_in_NPR"


        >NPR</option>

        <option value="NZD" hl="/USD_in_CNY*USD_in_NZD"


        >NZD</option>

        <option value="OMR" hl="/USD_in_CNY*USD_in_OMR"


        >OMR</option>

        <option value="PAB" hl="/USD_in_CNY*USD_in_PAB"


        >PAB</option>

        <option value="PEN" hl="/USD_in_CNY*USD_in_PEN"


        >PEN</option>

        <option value="PGK" hl="/USD_in_CNY*USD_in_PGK"


        >PGK</option>

        <option value="PHP" hl="/USD_in_CNY*USD_in_PHP"


        >PHP</option>

        <option value="PKR" hl="/USD_in_CNY*USD_in_PKR"


        >PKR</option>

        <option value="PLN" hl="/USD_in_CNY*USD_in_PLN"


        >PLN</option>

        <option value="PYG" hl="/USD_in_CNY*USD_in_PYG"


        >PYG</option>

        <option value="QAR" hl="/USD_in_CNY*USD_in_QAR"


        >QAR</option>

        <option value="RON" hl="/USD_in_CNY*USD_in_RON"


        >RON</option>

        <option value="RSD" hl="/USD_in_CNY*USD_in_RSD"


        >RSD</option>

        <option value="RUB" hl="/USD_in_CNY*USD_in_RUB"


        >RUB</option>

        <option value="RWF" hl="/USD_in_CNY*USD_in_RWF"


        >RWF</option>

        <option value="SAR" hl="/USD_in_CNY*USD_in_SAR"


        >SAR</option>

        <option value="SBD" hl="/USD_in_CNY*USD_in_SBD"


        >SBD</option>

        <option value="SCR" hl="/USD_in_CNY*USD_in_SCR"


        >SCR</option>

        <option value="SDG" hl="/USD_in_CNY*USD_in_SDG"


        >SDG</option>

        <option value="SEK" hl="/USD_in_CNY*USD_in_SEK"


        >SEK</option>

        <option value="SGD" hl="/USD_in_CNY*USD_in_SGD"


        >SGD</option>

        <option value="SHP" hl="/USD_in_CNY*USD_in_SHP"


        >SHP</option>

        <option value="SLL" hl="/USD_in_CNY*USD_in_SLL"


        >SLL</option>

        <option value="SOS" hl="/USD_in_CNY*USD_in_SOS"


        >SOS</option>

        <option value="SRD" hl="/USD_in_CNY*USD_in_SRD"


        >SRD</option>

        <option value="STD" hl="/USD_in_CNY*USD_in_STD"


        >STD</option>

        <option value="SVC" hl="/USD_in_CNY*USD_in_SVC"


        >SVC</option>

        <option value="SYP" hl="/USD_in_CNY*USD_in_SYP"


        >SYP</option>

        <option value="SZL" hl="/USD_in_CNY*USD_in_SZL"


        >SZL</option>

        <option value="THB" hl="/USD_in_CNY*USD_in_THB"


        >THB</option>

        <option value="TJS" hl="/USD_in_CNY*USD_in_TJS"


        >TJS</option>

        <option value="TMT" hl="/USD_in_CNY*USD_in_TMT"


        >TMT</option>

        <option value="TND" hl="/USD_in_CNY*USD_in_TND"


        >TND</option>

        <option value="TOP" hl="/USD_in_CNY*USD_in_TOP"


        >TOP</option>

        <option value="TRY" hl="/USD_in_CNY*USD_in_TRY"


        >TRY</option>

        <option value="TTD" hl="/USD_in_CNY*USD_in_TTD"


        >TTD</option>

        <option value="TWD" hl="/USD_in_CNY*USD_in_TWD"


        >TWD</option>

        <option value="TZS" hl="/USD_in_CNY*USD_in_TZS"


        >TZS</option>

        <option value="UAH" hl="/USD_in_CNY*USD_in_UAH"


        >UAH</option>

        <option value="UGX" hl="/USD_in_CNY*USD_in_UGX"


        >UGX</option>

        <option value="USD" hl="/USD_in_CNY"


        >USD</option>

        <option value="UYU" hl="/USD_in_CNY*USD_in_UYU"


        >UYU</option>

        <option value="UZS" hl="/USD_in_CNY*USD_in_UZS"


        >UZS</option>

        <option value="VEF" hl="/USD_in_CNY*USD_in_VEF"


        >VEF</option>

        <option value="VND" hl="/USD_in_CNY*USD_in_VND"


        >VND</option>

        <option value="VUV" hl="/USD_in_CNY*USD_in_VUV"


        >VUV</option>

        <option value="WST" hl="/USD_in_CNY*USD_in_WST"


        >WST</option>

        <option value="XAF" hl="/USD_in_CNY*USD_in_XAF"


        >XAF</option>

        <option value="XAG" hl="/USD_in_CNY*USD_in_XAG"


        >XAG</option>

        <option value="XAR" hl="/USD_in_CNY*USD_in_XAR"


        >XAR</option>

        <option value="XAU" hl="/USD_in_CNY*USD_in_XAU"


        >XAU</option>

        <option value="XCD" hl="/USD_in_CNY*USD_in_XCD"


        >XCD</option>

        <option value="XDR" hl="/USD_in_CNY*USD_in_XDR"


        >XDR</option>

        <option value="XOF" hl="/USD_in_CNY*USD_in_XOF"


        >XOF</option>

        <option value="XPD" hl="/USD_in_CNY*USD_in_XPD"


        >XPD</option>

        <option value="XPF" hl="/USD_in_CNY*USD_in_XPF"


        >XPF</option>

        <option value="XPT" hl="/USD_in_CNY*USD_in_XPT"


        >XPT</option>

        <option value="YER" hl="/USD_in_CNY*USD_in_YER"


        >YER</option>

        <option value="ZAR" hl="/USD_in_CNY*USD_in_ZAR"


        >ZAR</option>

        <option value="ZMK" hl="/USD_in_CNY*USD_in_ZMK"


        >ZMK</option>

        <option value="ZMW" hl="/USD_in_CNY*USD_in_ZMW"


        >ZMW</option>

        <option value="ZWL" hl="/USD_in_CNY*USD_in_ZWL"


        >ZWL</option>
        <!--load js-->
        <div th:replace="component/basejs :: basejs(~{::script})">
            <script th:inline="javascript">
                seajs.use(["select2"], function () {
                    var def= [# th:text="${def}"/];
                    if(def!=""){
                       jQuery('#chooseCurrency').select2().val(def).trigger('change');
                    }else{
                        jQuery('#chooseCurrency').select2();
                    }
                });
            </script>
        </div>
        <!--load js-->
    </select>



</body>
</html>
