<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <span th:replace="layout/head :: head"></span>
</head>

<body class="smoothscroll enable-animation" >


<!-- wrapper -->
<div id="wrapper">

    <span th:replace="layout/nav :: nav('navbar-toggleable-md sticky clearfix')"></span>

    <!-- projects -->
    <section class="section-sm mt-0" >
        <div class="intro-container">

            <img class="banner" th:src="@{${@globalService.staticUrl()}+'/static/front/dist/img/back-jpg.png'}">

            <input id="uId" type="text" class="hide" th:value="${id}">
            <div class="intro-info" id="userRender">
                <span th:replace="component/load/spinner3 :: spinner3"></span>

            </div>

            <script id="userTpl" type="text/x-jsrender">
                <div class="user-img fl">
                    <a href="/otc/user/{{:id}}">
                     {{if userAvatar!=null}}
                          <img class="user-head img-circle" style="width: 64px;height: 64px"  th:src="@{${@globalService.fileHost()}+'{{:userAvatar}}'}" alt="">
                          {{else}}
                          <img class="user-head img-circle" style="width: 64px;height: 64px"  th:src="@{${@globalService.staticUrl()}+'/static/front/dist/img/avatar.png'}" alt="用户头像" >
                          {{/if}}
                    </a>
                    </div>
                    <div class="user-grade fl">
                    <img th:src="@{${@globalService.staticUrl()}+'/static/front/dist/img/level_2.png'}">
                    </div>
                    <div class="user-name inline">
                    <a href="/otc/user/{{:id}}"><span class="text-white">{{:userName}}</span></a>
                    </div>
                    <div class="clear">

                    </div>
                    <div class="status fl">

                    <div class="status-dot-green inline"></div>
                    <span>在线状态</span>


                    </div>
                    <div class="intro-detail inline">
                    <div class="intro-detail-more">
                    <p>
                    简介:{{:remark}}
                </p>
                </div>
                </div>
                <div class="trade-relate fr">
                    <ul>
                    <li>
                    <div>
                    <img th:src="@{${@globalService.staticUrl()}+'/static/front/dist/img/safe.png'}">
                    </div>
                    <div class="text-tip">被<span>{{:trustNum}}</span>人信任</div>
                    </li>
                    <li>
                    <div>
                    <img th:src="@{${@globalService.staticUrl()}+'/static/front/dist/img/money.png'}">
                    </div>
                    <div class="text-tip">交易量
                    <span>66.1082</span>BTC</div>
                    </li>
                    <li>
                    <div>
                    <img th:src="@{${@globalService.staticUrl()}+'/static/front/dist/img/trade.png'}">
                    </div>
                    <div class="text-tip">完成
                    <span> {{:exchangeNum}} </span>笔交易</div>
                    </li>
                    </ul>
                    </div>
            </script>

        </div>
<div class="container mt-20">
    <form class="hide">
            <div class=" paramsPanel">
                <input name="userId" th:value="${id}"/>
                <input name="otcType" />
            </div>
    </form>
    <table id="table">

    </table>
</div>

</section>
    <!-- /projects -->






    <!-- FOOTER -->
    <span th:replace="layout/footer1 :: footer1"></span>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<span th:replace="layout/scrolltop :: scrolltop"></span>

<!-- /SCROLL TO TOP -->

<!-- PRELOADER -->
<span th:replace="layout/preloader :: preloader"></span>
<!-- /PRELOADER -->


<!-- JAVASCRIPT FILES -->

<div th:replace="component/basejs :: basejs(~{::script})">
    <script>
        seajs.use([DEV + "/main", "jquery_validate", "messages_zh", DEV + "/table_bootstrap","jquery_backstretch",DEV+"/page_otc"], function (b,b1,b2,b3,c,d) {
            d.user();
        });
    </script>
</div>

</body>
</html>