<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="member/layout">
<body layout:fragment="content">


<div class="card card-default  mdl-shadow--2dp">
    <div class="card-block">

        <table class="table fs-14">
            <thead>
            <tr>
                <th class="fw-200">MDL class</th>
                <th>Effect</th>
                <th>Remarks</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><code>mdl-button</code></td>
                <td>Defines button as an MDL component</td>
                <td>Required</td>
            </tr>
            <tr>
                <td><code>mdl-js-button</code></td>
                <td>Assigns basic MDL behavior to button</td>
                <td>Required</td>
            </tr>
            <tr>
                <td>(none)</td>
                <td>Applies <em>flat</em> display effect to button (default)</td>
                <td></td>
            </tr>
            <tr>
                <td><code>mdl-button--raised</code></td>
                <td>Applies <em>raised</em> display effect</td>
                <td>Mutually exclusive with <em>fab</em>, <em>mini-fab</em>, and <em>icon</em></td>
            </tr>
            <tr>
                <td><code>mdl-button--fab</code></td>
                <td>Applies <em>fab</em> (circular) display effect</td>
                <td>Mutually exclusive with <em>raised</em>, <em>mini-fab</em>, and <em>icon</em>
                </td>
            </tr>
            <tr>
                <td><code>mdl-button--mini-fab</code></td>
                <td>Applies <em>mini-fab</em> (small fab circular) display effect</td>
                <td>Mutually exclusive with <em>raised</em>, <em>fab</em>, and <em>icon</em></td>
            </tr>
            <tr>
                <td><code>mdl-button--icon</code></td>
                <td>Applies <em>icon</em> (small plain circular) display effect</td>
                <td>Mutually exclusive with <em>raised</em>, <em>fab</em>, and <em>mini-fab</em>
                </td>
            </tr>
            <tr>
                <td><code>mdl-button--colored</code></td>
                <td>Applies <em>colored</em> display effect (primary or accent color, depending on
                    the type of button)
                </td>
                <td>Colors are defined in <code>material.min.css</code></td>
            </tr>
            <tr>
                <td><code>mdl-button--primary</code></td>
                <td>Applies <em>primary</em> color display effect</td>
                <td>Colors are defined in <code>material.min.css</code></td>
            </tr>
            <tr>
                <td><code>mdl-button--accent</code></td>
                <td>Applies <em>accent</em> color display effect</td>
                <td>Colors are defined in <code>material.min.css</code></td>
            </tr>
            <tr>
                <td><code>mdl-js-ripple-effect</code></td>
                <td>Applies <em>ripple</em> click effect</td>
                <td>May be used in combination with any other classes</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- JAVASCRIPT FILES -->

<div th:replace="component/basejs :: basejs(~{::script})">
    <script>
        seajs.use([DEV + "/main", "jquery_easypiechart", "jquery_appear", "jquery_countTo", DEV + "/page_user"], function (a, o, b, c, d) {
            d.init();
        });
        var shopToken = localStorage.getItem("shopToken");
        var url="https://shop.bttmall.com/";
        if(shopToken){
            url = url + "?token=" + shopToken;
        }
        function goToShop() {
            window.open(url);
        }
    </script>
</div>

</body>
</html>