<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <span th:replace="layout/head :: head"></span>
    <style type="text/css">
        .marketsTable{margin:0px;}
    </style>

</head>

<body>
<div class="wrapper">
    <span th:replace="layout/nav :: nav"></span>
    <div class="join-wrap">
        <div class="about-topHeader">
            <div class="jWrap">
                <h1>关于我们</h1>
            </div>
        </div>
        <div class="about-main clearfix">
            <div class="about-list">
                <div class="about-item">
                    <div class="about-head">
                        <h2>关于Batsoft</h2>
                    </div>
                    <div class="about-body">
                        <div class="about-blk-01">
                            <p>Batsoft交易平台是由一群数字资产爱好者创建而成的一个专注区块链资产的交易平台。我们注册在全球金融中心的新加坡，为全球用户提供比特币、莱特币、以太坊等数字资产的现货和衍生品交易服务，聚合全球优质区块链资产，致力于打造世界级的区块链资产交易平台。</p>
                        </div>
                    </div>
                </div>
                <div class="about-item">
                    <div class="about-head">
                        <h2>我们的技术</h2>
                    </div>
                    <div class="about-body">
                        <div class="about-blk-02">
                            <ul class="clearfix">
                                <li class="n1">
                                    <h3>安全稳定</h3>
                                    <p>多层、多集群系统架构</p>
                                </li>
                                <li class="n2">
                                    <h3>高性能</h3>
                                    <p>采用GSLB、分布式服务器集群、分布式存储、冷钱包等高性能撮合引擎技术</p>
                                </li>
                                <li class="n3">
                                    <h3>高流动性</h3>
                                    <p>丰富的资源和众多的合作伙伴为平台提供流动性</p>
                                </li>
                                <li class="n4">
                                    <h3>多平台覆盖</h3>
                                    <p>支持Web、手机端、PC客户端</p>
                                </li>
                                <li class="n5">
                                    <h3>双语言支持</h3>
                                    <p>提供中文及英文语言支持</p>
                                </li>
                                <li class="n6">
                                    <h3>多币种支持</h3>
                                    <p>BTC、ETH、LTC等</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="about-item">
                    <div class="about-head">
                        <h2>我们的优势</h2>
                    </div>
                    <div class="about-body">
                        <div class="about-blk-03">
                            <ul class="clearfix">
                                <li class="n1">
                                    <h3>去中心化资产接入</h3>
                                    <p>全面支持bitCNY去中心化数字资产交易，整合全球各类承兑商资源，为全球用户的入金和出金提供提供安全保障；</p>
                                </li>
                                <li class="n2">
                                    <h3>卓越的管理团队</h3>
                                    <p>管理团队有众多阿里巴巴，Google，百度， Paypal等世界级公司的核心技术人员和运营 人员所组成，全面保障交易所的安全性和稳定性；</p>
                                </li>
                                <li class="n3">
                                    <h3>成熟的流动性解决方案</h3>
                                    <p>平台会跟世界级的流动性提供商合作，为交易所提供充足的流动性，使得用户的交易速度更加快捷和方便；</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<span th:replace="layout/footer :: footer"></span>
<!-- /FOOTER -->


</body>
</html>