<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <span th:replace="layout/head :: head"></span>


</head>

<body>
<div class="wrapper">
    <span th:replace="layout/nav :: nav"></span>
    <div class="join-wrap">
        <div class="about-topHeader">
            <div class="jWrap">
                <h1>联系我们</h1>
            </div>
        </div>
        <div class="about-main clearfix">
            <div class="about-list">
                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body"><ul class=" list-paddingleft-2">
                            <li>
                                <p>邮箱: <a title="mailto:Support@Batsoft.com" href="mailto:Support@Batsoft.com">Support@Batsoft.com</a></p>
                            </li>
                            <li>
                                <p>社交媒体: <a title="https://twitter.com/BatsoftEX" href="https://twitter.com/BatsoftEX" target="_blank" rel="noopener">https://twitter.com/BatsoftEX</a></p>
                            </li>
                            <li>电报群：<a href="https://t.me/Batsoft" target="_blank" rel="noopener">https://t.me/Batsoft</a></li>
                            <li>
                                <p>地址：10 Anson Road, International Plaza, Singapore (079903)</p>
                            </li>
                        </ul></div>

                        <div class="article-attachments">
                            <ul class="attachments">

                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<span th:replace="layout/footer :: footer"></span>
<!-- /FOOTER -->


</body>
</html>