<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <span th:replace="layout/head :: head"></span>


</head>

<body>
<div class="wrapper">
    <span th:replace="layout/nav :: nav"></span>
    <div class="join-wrap">
        <div class="about-topHeader">
            <div class="jWrap">
                <h1>隐私申明</h1>
            </div>
        </div>
        <div class="about-main clearfix">
            <div class="about-list">
                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body"><p>本隐私政策和声明解释了Batsoft (“Batsoft”)，作为一家成立并注册在新加坡的公司， 使用您的个人数据， 因为我们通过我们的数字资产（不涉及法定货币）交易平台为您提供访问和实用程序服务。在提供服务的过程中， 我们收集和维护个人信息。通常， 我们绝对不会向任何非附属第三方披露任何有关客户的个人信息， 除非下文所述的情况下。</p>
                            <p> </p>
                            <p><strong>【数据收集目的和使用】</strong></p>
                            <p>Batsoft收集， 处理和存储的个人数据， 是通过您使用我们的服务所取得的，或者已经获得了您的同意。这些个人数据可能包括联系方式或与您的设备或互联网服务相关的任何信息（如IP地址和MAC号码）。 Batsoft使用个人数据与您沟通， 并管理、履行、改进以及为您制定个性化服务。 Batsoft还可以从我们收集的任何个人数据中生成通用数据， 并将其用于我们自己的目的。我们还可以使用这些数据与您就Batsoft或其合作伙伴提供的其他产品或服务进行沟通。除非您同意并在下面列出的详细情况下， 否则我们不会与第三方（与Batsoft的服务相关的合作伙伴除外）分享您的个人数据。</p>
                            <p>我们可能会与第三方分享您的个人资料：</p>
                            <p>（a）如果我们认为分享对于执行条款（the Terms）是有必要的，</p>
                            <p>（b）使我们能够遵守政府机构， 包括监管机构， 执法部门或司法部门的要求，</p>
                            <p>（c）向为Batsoft提供服务的第三方（例如管理或技术服务），</p>
                            <p>（d）如果适用， 出售或转让我们的业务或其任何部分。</p>
                            <p>此外， 我们已采取措施， 防止洗钱、资助恐怖主义、规避贸易和经济制裁的行为， 这要求我们对客户进行尽职调查。这可能包括使用第三方数据和服务提供商将您的个人信息与其数据交叉比对。</p>
                            <p><strong>【存储您的个人数据】</strong></p>
                            <p>我们从您那收集的数据可能会转移并存储到新加坡以外的目的地。 这些数据也可能由在新加坡以外的工作人员处理， 这些工作人员为我们或为我们的供应商工作。 您提交您的个人资料的行为， 即表示您同意上述转让、存储或处理。您提供给我们的所有信息都存储在我们和/或第三方云安全服务器上。</p>
                            <p><strong>【联系Batsoft关于隐私问题或疑虑】</strong></p>
                            <p>如果您对本隐私政策和声明或使用您的个人资料有任何疑问， 请通过发送电子邮件至以下邮箱地址与我们联系（标题为“隐私权请求（PRIVACY REQUEST）”）：support@Batsoft.com。</p>
                            <p><strong>【对我们的隐私政策的修改】</strong></p>
                            <p>我们未来对我们的隐私政策的任何更改将会发布在此页面上， 我们将自行考虑， 也许会通过电子邮件通知您。 您使用我们的网站和服务的行为， 即表示您同意我们的隐私政策和声明。</p></div>

                        <div class="article-attachments">
                            <ul class="attachments">

                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<span th:replace="layout/footer :: footer"></span>
<!-- /FOOTER -->


</body>
</html>