<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
            <div th:fragment="nav">
                <div style="width: 100%;height: 80px;background: #181b2a">
                    <div style="width: 1200px;height: 80px;background: #181b2a;margin: 0 auto;">
                <div class="new_header" style="height: 80px">
                    <div >
                        <a href="/"><h1 class="logo">Bttmall</h1></a>
                        <ul class="navBar">
                            <li><a href="/market" th:text="#{exchange}">
                                交易中心<i></i></a></li>

                            <!--<li th:if="${@globalService.c2cOpen()=='1'}"><a href="/c2c" th:text="#{c2c}">-->
                                <!--C2C<i></i></a></li>-->
                            <li><a href="javascript:void(0);" th:onclick="'javascript:goToreferral();'"  th:text="#{mutner}">
                                召集令<i></i></a><div class="Kmarker"></div></li>

                            <li><a href="/article/list/announcements" target="_blank" th:text="#{notice}">
                                公告<i></i></a></li>
                            <li class="shop"><a href="javascript:void(0);" th:onclick="'javascript:goToShop();'" th:text="#{shop}">
                                商城<i></i></a>
                                <div class="shop-icon"></div>
                            </li>



                        </ul>
                    </div>
                    <div th:fragment="loginState" >
                        <span th:replace="component/lan :: lan"></span>
                        <!-- 登录注册 -->

                        <div class="userStatus" th:if="${!@globalService.isLogin()}">
                            <a href="/login" th:text="#{login}" >登录</a> / <a href="/register" th:text="#{register}">注册</a>
                        </div>
                        <!-- /登录注册 -->
                        <!-- 退出登录 -->
                        <div class="headerUserBar" th:if="${@globalService.isLogin()}">
                            <ul>

                                <li class="item"><span class="colTit" th:text="#{orders}">委托</span><span class="ico icoLanArr"></span>
                                    <ul class="userItemSon" style="display: none;">
                                        <li class="cn"><a href="/ex/member/account/entrust" th:text="#{open_order}">当前委托</a></li>
                                        <li class="cn"><a href="/ex/member/account/history_entrust" th:text="#{trade_history}">历史委托</a></li>
                                        <li class="cn"><a href="/ex/member/account/history_trade" th:text="#{order_history}">历史成交</a></li>
                                    </ul>
                                </li>

                                <li class="item"><span class="colTit" th:text="#{funds}">资产</span><span class="ico icoLanArr"></span>
                                    <ul class="userItemSon" style="display: none;">
                                        <li class="cn"><a href="/ex/member/account" th:text="#{balances}">我的资产</a></li>
                                        <li class="cn"><a href="/ex/member/account/deposit" th:text="#{deposit}">充值</a></li>
                                        <li class="cn"><a href="/ex/member/account/withdraw" th:text="#{withdraw}">提现</a></li>
                                        <li class="cn"><a href="/ex/member/account/money_info" th:text="#{funwsd_history}">历史记录</a></li>
                                        <li class="cn"><a href="/ex/member/account/withdraw_history" th:text="#{wites_history}">提现记录</a></li>
                                    </ul>
                                </li>

                                <li class="item"> <span class="colTit" th:text="${@globalService.getUserName()}"></span><span class="ico icoLanArr"></span>
                                    <ul class="userItemSon" style="display: none;">
                                        <li class="cn"><a href="/ex/member/user" th:text="#{account}">用户中心</a></li>
                                        <li class="cn"><a href="/logouts" th:text="#{logout}">退出</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>

                        <!-- /退出登录 -->

                    </div>
                </div>
                    </div>
                </div>

            </div>
        <script>

            var shopToken = localStorage.getItem("shopToken");
            var url="https://shop.bttmall.com/";
            if(shopToken){
                url = url + "?token=" + shopToken;
            }
            function goToShop() {
                window.open(url);
            }
        </script>

    </body>
</html>

