<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ <p>CoinApiUserMapper</p>
  ~
  ~ Copyright (c)  http://www.batsoft.cn
  ~ @Date:        2018-05-22 14:20:59 
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.batsoft.service.module.blockchain.dao.CoinApiUserDao">


</mapper>
