<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	
	<div  th:fragment="topbar">
        <!-- TOP NAV -->
        <header id="topNav">
            <!-- Top Bar -->
            <div id="topBar">
                <div class="container">

                    <!-- right -->
                    <ul class="top-links list-inline float-right">
                        <li class="text-welcome">Welcome to Smarty, <strong>John Doe</strong></li>
                        <li>

                            <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#">MY ACCOUNT</a>
                            <ul class="dropdown-menu float-right">
                                <li><a tabindex="-1" href="#"><i class="fa fa-history"></i> ORDER HISTORY</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#"><i class="fa fa-bookmark"></i> WISHLIST</a></li>
                                <li><a tabindex="-1" href="#"><i class="fa fa-cog"></i> SETTINGS</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#"><i class="glyphicon glyphicon-off"></i> LOGOUT</a></li>
                            </ul>

                        </li>
                        <li><a href="page-login-1.html">LOGIN</a></li>
                        <li><a href="page-register-1.html">REGISTER</a></li>
                    </ul>

                    <!-- left -->
                    <ul class="top-links list-inline">
                        <li><a href="page-faq-1.html">FAQ</a></li>
                        <li>

                            <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a>
                            <ul class="dropdown-langs dropdown-menu float-right">
                                <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/de.png" width="16" height="11" alt="lang" /> GERMAN</a></li>
                                <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/ru.png" width="16" height="11" alt="lang" /> RUSSIAN</a></li>
                                <li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/_smarty/flags/it.png" width="16" height="11" alt="lang" /> ITALIAN</a></li>
                            </ul>

                        </li>
                    </ul>

                </div>
            </div>
            <!-- /Top Bar -->

    </div>
	
</body>
</html>

