<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <title>系统登录</title>
    <meta charset="utf-8" />
    <meta name="description" th:content="${@globalService.webSiteRemark()}">
    <meta name="keywords"  th:content="${@globalService.webSiteKeyWords()}">
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <link th:href="@{${@globalService.staticUrl()}+'/static/front/dist/style/app.min.css'}" rel="stylesheet"
          type="text/css"/>
    <!-- loadding button 必须前置-->
    <script th:src="@{${@globalService.staticUrl()}+'/static/front/dist/script/plugins/ladda/spin.min.js'}"></script>
    <script th:src="@{${@globalService.staticUrl()}+'/static/front/dist/script/plugins/ladda/ladda.min.js'}"></script>


</head>

<body class="smoothscroll enable-animation" >

<!-- SLIDE TOP -->

<!-- /SLIDE TOP -->


<!-- wrapper -->
<div id="wrapper">

    <span th:replace="layout/nav :: nav('navbar-toggleable-md sticky transparent clearfix')"></span>

    <!-- SLIDER -->
    <section id="slider" class="fullheight" th:style="'background-image:url('+@{${@globalService.fileHost()}+${@globalService.loginBanner()}}+');height:670px'  ">

        <div class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></div>

        <div class="display-table">
            <div class="display-table-cell vertical-align-middle">
                <div class="container" id="login-container">

                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 push-md-3 push-lg-4 push-sm-7 mt-100">

                        <!-- ALERT -->

                        <div class="alert alert-mini alert-danger mb-30 tip p-hide">

                        </div>

                        <!-- /ALERT -->

                        <!-- login form -->
                        <form method="post"  th:action="@{/loginCheck}"  class="sky-form boxed form" >
                            <header class="f-w"><i class="fa fa-users"></i> 系统登录</header>

                            <fieldset class="m-0">

                                <label class="input ">
                                    <i class="ico-append fa fa-user"></i>
                                    <input type="text" class="form-control " id="userName" name="userName" placeholder="请输入用户名" >
                                    <span class="tooltip tooltip-top-right f-w">请输入用户名</span>
                                </label>

                                <label class="input">
                                    <i class="ico-append fa fa-lock"></i>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" >
                                    <b class="tooltip tooltip-top-right f-w">请输入密码</b>
                                </label>
                                <label class="input">
                                    <input  type="text" class="form-control" id="validCode" name="validCode" placeholder="请输入验证码" ><b class="tooltip tooltip-top-right f-w">请输入验证码</b>
                                    <a class="reload-vify validCode" href="javascript:;">
                                        <img src="/static/manage/dist/img/captcha.png" th:attr="src=@{/validCode}"  onclick = "this.src='/validCode?d='+new Date()*1"    height="34">
                                    </a>

                                </label>

                                <label class="checkbox mt-20 f-w">
                                    <input type="checkbox" name="checkbox-inline" id="rememberMe">
                                    <i></i> <span class="f-w">记住我</span>
                                </label>

                            </fieldset>

                            <footer class="celarfix">
                                <button type="submit" class="btn btn-primary rad-0 float-right" disabled><i class="fa fa-check"></i> 登录</button>
                                <div class="login-forgot-password float-left f-w">
                                    <a href="page-password.html">忘记密码?</a>
                                    <a href="/register">未注册?</a>
                                </div>
                            </footer>
                        </form>
                        <!-- /login form -->

                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- /SLIDER -->

    <!-- FOOTER -->
    <span th:replace="layout/footer :: footer"></span>
    <!-- /FOOTER -->

</div>
<!-- /wrapper -->


<!-- JAVASCRIPT FILES -->

<div th:replace="component/basejs :: basejs(~{::script})">
    <script>
        seajs.use([ "jquery_validate", "messages_zh", DEV + "/page_login"], function ( d,  h, b) {
            b.init();
        });
    </script>
</div>

</body>
</html>