<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="member/layout">
<body layout:fragment="content">
<div class="card card-default mdl-shadow--2dp ">
    <div class="card-block ">
        <h2 class="fs-25 mt-0">
            <span>
                <span class="fw-300">账户资产</span>
            </span>
        </h2>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-vertical-middle">
                <thead>
                <tr>
                    <th class="text-center">币种</th>
                    <th class="text-center">可用数量</th>
                    <th class="text-center">冻结数量</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody id="financeRender">


                </tbody>
            </table>

            <script id="financeTpl" type="text/x-jsrender">

                <tr>
                    <td class="text-center"><img th:src="@{${@globalService.fileHost()}+'{{:coinLogo}}'}" alt="{{:symbol}}" class="img-circle" style="width: 24px;height: 24px">{{:symbol}}</td>
                    <td class="text-right">{{:available}}</td>
                    <td class="text-right">{{:freeze}}</td>
                    <td  class="text-center">
                    {{if allowRecharge==1}}
                    <a href="/exchange/user/recharge/{{:symbol}}" class="btn btn-red btn-sm">充值 </a>
                    {{else}}
                    <button disabled class="btn btn-red btn-sm">充值 </button>
                    {{/if}}
                    {{if allowDeposit==1}}
                    <a href="/exchange/user/deposit/{{:symbol}}"  class="btn btn-green btn-sm">提现 </a>
                    {{else}}
                    <button disabled class="btn btn-green btn-sm">提现 </button>
                    {{/if}}
                    </td>
                </tr>
            </script>
        </div>

    </div>
</div>

<!-- JAVASCRIPT FILES -->

<div th:replace="component/basejs :: basejs(~{::script})">
    <script>
        seajs.use([DEV + "/main",  DEV + "/table_bootstrap",DEV+"/page_exchange"], function (b,c,d) {
            d.userFinance();
        });
    </script>
</div>

</body>
</html>