<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <span th:replace="layout/head :: head"></span>

    <style>
        .about-topHeader .jWrap {
            width: 1200px;
            margin: 0 auto;
            background: #fff;
            height: 60px;
            line-height: 60px;
            margin-top: 19px;
        }
        .about-topHeader .jWrap h1 {
             font-size: 20px;
             font-weight: 400;
             text-indent: 26px;
             line-height: 60px;
         }
        .about-list {
            padding: 34px 28px;
        }
        .article-body p{
            margin-bottom: 8px;
        }
        body, html {
            height: 100%;
            background-color: #F3F4F8;
        }
    </style>
</head>

<body>
<div class="wrapper" style="background:#F3F4F8 ">
    <span th:replace="layout/nav :: nav"></span>
    <div class="join-wrap">
        <div class="about-topHeader" style="background:none;border-bottom: none;">
            <div class="jWrap">
                <h1>隐私政策</h1>
            </div>
        </div>
        <div class="about-main clearfix">
            <div class="about-list">
                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p><strong>一、双方</strong></p>
                            <p>1.1BTTMALL TECHNOLOGY LIMITED（以下称 “公司”）是一家根据香港相关法律在香港注册成立的公司，该公司运营【bttmall】（以下称“本网站”），本网站是一个专门供用户进行数字资产交易和提供相关服务（以下称“该服务”或“服务”）的平台。为了本协议表述之方便，公司和本网站在本协议中合称使用“我们”或其他第一人称称呼。</p>
                            <p>1.2只要登陆本网站的自然人或其他主体均为本网站的用户，为本协议表述之便利，以下使用“您”或其他第二人称。为了本协议表述之便利，我们和您在本协议中合称为“双方”，我们或您单称为“一方”。</p>
                            <p>1.3 本网站所有内容，为便利用户，可能提供多个语言版本，若有冲突或遗漏等情况，以中文内容为准。</p>
                            <p><strong>二、隐私政策制定的目的</strong></p>
                            <p>隐私政策规定了我们只通过您登陆本网站、在本网站上注册和/或使用我们提供的服务而采集您的相关信息以及我们如何使用和保护这些采集到的信息。</p>
                            <p><strong>三、您的同意</strong></p>
                            <p>为确保您对我们在处理个人资料上有充分信心, 您要详细阅读及理解隐私政策的条文。特别是您一旦登陆本网站，不论您是否在本上注册，您均向我们表明您接受、同意、承诺和确认：</p>
                            <p>3.1 您同意向我们披露个人资料；</p>
                            <p>3.2 您会遵守本隐私政策的全部条款和限制；</p>
                            <p>3.3 您同意我们通过您登陆本网站、在本网站上注册和/或使用我们提供的服务收集您的信息；您同意日后我们对隐私政策的任何修改；</p>
                            <p>3.4 您同意我们的分公司、附属公司、雇员就您可能会感兴趣的产品和服务与您联络( 除非您已经以书面形式表示不想收到该等讯息 )。</p>
                            <p><strong>四、收集的信息</strong></p>
                            <p>4.1 当您使用本网站时，您同意我们开始使用cookies来追踪您的每一个动作，并收集和记住您留下的所有信息，其中包括但不限于您的IP地址，地理位置及其他资料。</p>
                            <p>4.2 如果您愿意使用本网站提供的服务，您需要填写和提供以下两种信息：</p>
                            <p>4.2.1 身份信息。该信息可以帮助我们验证您是否有资格注册为本网站会员，包括但不限于您的名字、您的居住地址、邮寄地址、您所属国家或政府签发的其他具有证明您身份信息的不同的证书以及涉及到的号码及所有其他可帮助我们验证您身份的信息（以下合称为“身份信息” ）。</p>
                            <p>4.2.2 服务信息。该信息帮助我们与您联系并顺利为您提供服务，包括但不限于您的电话号码、传真号码、有效的电子邮件地址、邮寄地址以及您的借记卡信息和/或其他帐户信息（以下合称为“服务信息” ）。</p>
                            <p>4.3 在您使用本网站或其提供的服务时，我们可能会为了改进本网站的使用功能，提升您对使用本网站及其提供的服务及其安全性的体验或是根据法院或可适用法律法规或有管辖权的其他政府机构的命令，通过本网站公示的专属于我们的邮箱或其他我们认为合规的方式收集更多的必要的信息。</p>
                            <p>4.4 如果您访问了在本网站上的其他第三方网站或合作的第三方的任何链接，您应同意并遵守该第三方网站单独和独立的隐私政策。我们对这些网站或合作方的内容及活动不承担任何责任。</p>
                            <p>4.5 如果您的个人信息被设立于欧洲经济区（简称“EEA”），对于受《通用数据保护条例》（简称“GDPR”）保护的个人信息而言，您享有一系列与您在我司留存之个人信息相关的法律权利。该等权利包括：</p>
                            <p>(1)   获取有关您个人信息处理的信息并访问您在我司留存的个人信息。请注意，某些情况下，我们有权拒绝访问个人信息副本的请求。（特别是受法律专业特权制约的信息）；</p>  <p>3.1 您同意向我们披露个人资料；</p>
                            <p>(2)   如果您的个人信息不准确或不完整，可要求我们进行更正，但如需您提供有效身份证明文件副本，以证明您的身份信息之真实性，请您配合提供；</p>
                            <p>(3)   在某些情况下可要求我们删除您的个人信息。请注意，某些情况（如基于公共利益、公共健康或科学及历史研究等目的）下即使您要求我们删除您的个人信息，我们也有权将其保留；</p>
                            <p>(4)   在某些情况下就我们对您个人信息的处理提出反对，并要求我们对您个人信息的处理进行限制。同样，在某些情况下，即使您提出反对或者要求我们限制您个人信息的处理，我们也有权拒绝您的请求；</p>
                            <p>(5)   撤回您的个人信息使用许可。如果有其他正当法定理由，我们也有权不经过您的许可继续使用或处理。
                                根据GDPR条款，我们除了提供系统性的个人数据保护办法外，还会设置数据保护官（DPO）全面负责您的数据保护工作。
                                我们会评估我们收到的所有请求及投诉并及时向您提供回复。我们可能要求您提供有效的身份证明文件副本，以便我们履行安全义务并防止未授权的数据披露。若您要求访问数据的请求显然无根据或为超常请求，或您请求我们提供额外的您本人的个人信息副本，我们有权就此向您收取合理的行政管理费用。
                                对于受GDPR保护的个人信息而言，我们可能会为了特定许可用途将您的个人信息传到EEA以外地区。我们将会确保任何该等国际传递都会根据GDPR或其他相关法律受到适当保护。
                                为了便于我们为欧洲经济区的客户提供服务，我们要求客户提供书面同意将客户的个人数据从欧洲经济区转移到该地区以外的意向。如果您是位于欧洲经济区的个人，并且您拒绝同意此类条款，您将不再能够使用bttmall和我们的服务。您将可以撤回您的数字资产和法定货币; 但是，所有其他功能将被禁用。
                            </p>
                            <p><strong>五、Cookies</strong></p>
                            <p>5.1 当您到访本网站时, 我们通过cookies使用Google Stats去记录我们的业绩以及核对在线广告的效果。Cookie是发送到您的浏览器上并在您的电脑硬盘驱动器上存储的小量数据。只有当您使用您的电脑进入本网站时,Cookie才能够被发送到您的电脑硬盘上。</p>
                            <p>5.2 Cookies常用于记录访问者浏览本网站上的各个项目时的习惯以及偏好。Cookies所搜集的资料是不记名的集体统计数据, 不载有个人资料。</p>
                            <p>5.3 Cookies不能用于取得您的硬盘上的数据、您的电邮地址、及您的私人数据，其可使本网站或服务商系统识别到您的浏览器并捕捉和记忆信息。大多数浏览器都预设为可以接受Cookies。您可以选择将您的浏览器设定为不接受Cookies,或如果Cookies一被装上就通知您。不过, 若设定为禁止Cookies, 您或许不能启动或使用本网站的某些功能。</p>
                            <p><strong>六、信息使用用途</strong></p>
                            <p>6.1 我们为了以下目的或以下列方式使用我们收集到的您的信息：</p>
                            <p>6.1.1 通过本网站向您提供我们的各项服务；</p>
                            <p>6.1.2 当您使用本网站时, 能辨认及确认您的身份；</p>
                            <p>6.1.3 为了改善和提高本网站的服务（根据我们收到的您的信息及反馈，帮助我们改善本网站的服务，进而我们可以更有效地对您的服务请求和支持需求做出回应）；</p>
                            <p>6.1.4 统计本网站使用量的数据和政府机关、事业单位等合作的数据分析；</p>
                            <p>6.1.5 个性化您的体验（您的信息将帮助我们更好地为您的个性化需求作出回应）；</p>
                            <p>6.1.6 处理交易（您的信息，无论是公共或私人的，未经您的同意不会以任何理由被出售、交换、转移，或提供给任何其他公司，但除了为完成您所要求的交易的明确目的之外 ）；</p>
                            <p>6.1.7 定期发送电子邮件（您提供订单处理的电子邮件地址，除了偶尔接收我们的新闻，更新，相关产品或服务的信息等，可用来向您发送信息和更新有关您的订单）；</p>
                            <p>6.1.8 满足本网站用户协议规定的其他目的和为了满足该等目的的所有合法途径。</p>
                            <p>6.2 我们不会向其他方出售、交易或以其他方式转让信息或允许他人收集、使用信息，但不包括以下其他方和以下信息：我们的关联方、帮助我们经营本网站、开展业务、或者向您提供服务的受信任的第三方，只要这些当事方同意将这些信息保密；当我们相信披露的信息是适当的，是遵守法律、法规、规章制度的或来自于法院或他主管当局的命令、执行我们的APP策略，正常运行APP所需要，关联方提供服务所需或保护我们或他人的权利、财产或安全的。但是，您的信息不会提供给其他方进行营销，广告或其他用途。</p>
                            <p>6.3我们已采用国际标准以防止洗钱、恐怖融资、规避贸易和经济制裁的行为，这要求我们对客户进行尽职调查。这可能包括使用第三方数据和服务提供商将您的个人信息与其数据交叉比对。</p>
                            <p>6.4 您同意bttmall有权与以下人员/机构共享您的个人数据：bttmall及其关联公司的成员或代表； 我们的服务供应商和其他协助我们为您提供服务的第三方； 与任何融资，收购或解散程序有关的实体，这些程序涉及披露我们的部分或全部业务或资产；以及 执法机构和当局，官员，监管机构或其他第三方为了遵守任何法律，法院命令，传票或政府要求。</p>
                            <p><strong>七、个人资料的保护</strong></p>
                            <p>7.1 我们实施妥善的实物、电子、管理及技术方面的措施来保护和保障您的个人资料的安全。我们尽力确保通过本网站所搜集的任何个人资料皆免于任何与我们无关的第三者的滋扰。我们采取的安全措施包括但不限于：</p>
                            <p>7.1.1 实物措施：存有您个人资料的记录会被存放在有锁的地方。</p>
                            <p>7.1.2 电子措施：存有您个人资料的电脑数据会被存放在受严格登入限制的电脑系统和存储媒体上。</p>
                            <p>7.1.3 管理措施：只有经我们授权的职员才能接触到您的个人资料, 这些职员需要遵守我们个人资料保密的内部守则。</p>
                            <p>7.1.4 技术措施：可能采用如Secure Socket Layer Encryption这种加密技术来输送您的个人资料。</p>
                            <p>7.1.5 其它措施：我们的网络服务器受到“防火墙”的保护。</p>
                            <p>7.2 若您知悉本网站上有任何安全方面的漏洞, 请马上联系我们, 使我们可以尽快采取妥适的行动。</p>
                            <p>7.3 尽管实施了上述技术和保安的措施, 我们不能保证资料在互联网上的输送绝对安全, 因此我们不能绝对保证您通过本网站提供给我们的个人资料在一切时候都是安全的。对任何因未经授权而接触您个人资料所发生的事件我们一槪不承担责任, 于这方面产生或导致的任何损失或损害, 我们不负责赔偿。</p>
                            <p><strong>八、隐私政策的修订</strong></p>
                            <p>我们保留随时修改该隐私政策的权利。我们通过更新和发布新版本的生效日期告诉您我们修订了隐私政策，并突出修订处，有时我们会发布通知告诉您隐私政策已修订，但这不是我们的一项义务。您应定期查看隐私政策并关注其修订情况，如果您不同意修订的内容，您应停止立即访问本网站。当隐私政策的更新版本发布，您持续访问本网站显示和表明您同意该更新的内容，并同意遵守该更新的隐私权政策。</p>
                            <p><strong>九、与我们的沟通</strong></p>
                            <p>9.1 如果您有任何要求和意见，您可以通过电子邮件 support@bttmall.com       ，这是属于我们与您沟通的唯一有效和官方电子邮件，所以我们对您未使用有效的联系方式，任何作为或不作为不承担责任。</p>
                            <p>9.2 我们只通过本网站上的有效的联系方式发布公告和信息或在本网站张贴公告，所以我们对由于您信任了未通过以上方式获得的信息而产生的任何损失不承担责任。</p>
                            <p>9.3 若您对我们的隐私政策有任何问题, 欢迎随时联系我们。</p>
                            <div class="article-attachments">
                                <ul class="attachments">

                                </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<span th:replace="layout/footer :: footer"></span>
<!-- /FOOTER -->
<div th:replace="component/basejs :: basejs(~{::script})">

    <script>
        seajs.use([DEV + "/main","socketjs","stomp","numeral"], function (main,a,b,numeral) {

        });
        var shopToken = localStorage.getItem("shopToken");
        var shopurls = $("#shop_urls").val();
        var url=shopurls;
        if(shopToken){
            url = url + "?token=" + shopToken;
        }
        function goToShop() {
            window.open(url);
        }
        function goToreferral() {
            if($("#jhse").text().length > 0){
                window.location.href = '/referral'
            }else {
                window.location.href = '/login'
            }
        }
    </script>
</div>

</body>
</html>
